<div id="outPopUp" class="container">
    <div class="row">
        <div id="textcent" class="col-md-6 mt-5 mx-auto">
            
                <h1 class="text center">FAQ</h1>
                <br>
            <div class="box">
                <br>
                <div class="faqs">
                   <p align="center"> <img src="/assets/Logo Nah Honey.png" style="width:20%"></p>
                    <details>
                        <summary>Adakah Madu Tualang NAH ini asli?</summary>
                        <br>
                        <p align="justify" class="text">Madu Tualang NAH mempunyai Sijil Keaslian Madu daripada Unipeq UKM dan Genom Malaysia. Kekerapan membuat ujian tersebut adalah 2 kali setahun untuk Unipeq UKM dan setiap kali ‘batch’ baru sampai untuk Genom Malaysia.
                          </p>
                          <img src="/assets/genom1.jpg" style="width:50%; height: 300px;">
                          <img src="/assets/genom2.jpeg" style="width:50%; height: 300px;">
                     </details>
                   <details>
                      <summary>Madu kan manis macam mana boleh sesuai untuk orang nak kurus ?</summary>
                      <br>
                      <p align="center"><img src="/assets/weight" style="width:50%; height: 300px;"></p>
                      <p align="justify" class="text">Madu boleh digunakan sebagai pengganti gula dalam pemakanan seharian
                        Dan paling penting madu dapat membantu mengurangkan ‘craving’ kita terhadap makanan manis , barulah senang nak kurus bila pemakanan terjaga kan
                        </p>

                   </details>
                   
                </div>
             </div>
             <br>
             <br>
        </div>
    </div>
