<div id="outPopUp" class="container">
    <div class="row">
        <div id="textcent" class="col-md-6 mt-5 mx-auto">
            
               
            <h1 class="text center">ABOUT</h1>
                <br>
                <img src="/assets/about" style="width:110%; height: 500px;">
                <br>
                <br>
                <h2 align="center">Pembekal Madu Tualang Asli 🐝
                    👉🏻Dijamin 💯 Asli. Jaminan Wang dikembalikan!
                    📍C-G-10, SAVANNA LIFESTYLE SHOP , SOUTHVILLE, 43800 DENGKIL, SELANGOR.
                </h2>
            <br>
            <h2 id="tagging" style="text-align:center">The House of Honey</h2>
            <br>
            <br>
              